{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{ % static 'core/css/index.css'% }"> 


    <title>Maceteros</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark"> 
        <div class="container-fluid"> 
            <a class="navbar-brand" href="#"><img src="{ %  static'core/Imgenes/Logo.jpeg'%} alt=" alt="" width="80" 
                    height="40"></a> 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" 
                aria-label="Toggle navigation"> 
                <span class="navbar-toggler-icon"></span> 
            </button> 
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
                    <li class="nav-item"> 
                        <a class="nav-link active" aria-current="page" href="index.html">Inicio</a> 
                    </li> 
                    <li class="nav-item"> 
                        <a class="nav-link" href="quienessomos.html">¿Quiénes somos?</a> 
                    </li> 
                    <li class="nav-item dropdown"> 
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                            data-bs-toggle="dropdown" aria-expanded="false"> 
                            Productos 
                        </a> 
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> 
                            <li><a class="dropdown-item" href="maceteros.html">Maceteros</a></li> 
                            <li><a class="dropdown-item" href="tierradehoja.html">Tierra De Hojas</a></li> 
                            <li><a class="dropdown-item" href="flores.html">Flores</a></li> 
                            <li><a class="dropdown-item" href="arbustos.html">Arbustos</a></li> 
                        </ul> 
                    </li> 
                </ul> 
                <form class="d-flex"> 
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> 
                    <button class="btn btn-outline-success" type="submit">Search</button> 
                </form> 
            </div> 
        </div> 
        </nav> 
        <center><h2>Productos</h2></center>
        <div class="column col-3">
            <div class="card">
                <img src="{ %  static'core/Imgenes/macetero1.jpg'%}" alt="Denim Jeans" style="width:100%">
                <h1>Macetero rustico</h1>
                <p>$12.770</p>
                <p><button>Comprar</button></p>
            </div>
        </div>

        <div class="column col-3">
            <div class="card">
                <img src="{ %  static'core/Imgenes/macetero2.jpg'%}" alt="Denim Jeans" style="width:100%">
                <h1>Macetero ceramica</h1>
                <p>$53.990</p>
                <p><button>Comprar</button></p>
            </div>
        </div>

        <div class="column col-3">
            <div class="card">
                <img src="{ %  static'core/Imgenes/macetero3.jpg'%}" alt="Denim Jeans" style="width:100%">
                <h1>Macetero grafiato</h1>
                <p>$31.990</p>
                <p><button>Comprar</button></p>
            </div>
        </div>

        <div class="column col-3">
            <div class="card">
                <img src="{ %  static'core/Imgenes/macetero4.jpg'%}" alt="Denim Jeans" style="width:100%">
                <h1>Macetero plastico</h1>
                <p>$1.990</p>
                <p><button>Comprar</button></p>
            </div>
        </div>
        <footer>

            <div class="btn-group"> 
                <div class="container"> 
                </div> 
            </div> 
        
            <p class="parrafo">  
            <p class="container"> 
            <div class="container-xl p-5 my-5 bg-dark text-white"> 
                <div class="row"> 
                    <div class="col-sm-3"><button type="button" class="btn btn-link"> 
                            <h4>@Vecindad de flores</h4> 
                        </button> 
                        <p>Apoyanos en nuestras redes sociales y enterate de nuestras ofertas</p> 
                    </div> 
                    <div class="col-sm-3"><button type="button" class="btn btn-link"> 
                            <h4>www.soporte.cl</h4> 
                        </button> 
                    </div> 
                    <div class="col-sm-3"> <button type="button" class="btn btn-success">Suscribete</button> 
                        <p>Ayuda a nuestra fundación si lo deseas 
                        </p> 
                    </div> 
                </div> 
            </div> 
            </p> 
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script> 
</body>
        {% endblock content %}